#root{
  height: 100%;
}

body{
  background-color: #282c34;
}

.container{
  max-width: 500px;
  margin: 30px auto;  
  overflow: auto;
  min-height: 300px;
  border: 2px solid chartreuse;
  padding: 38px 38px;
  border-radius: 10px;
}

.container h1{
  color: white;
  text-align: center;

}

@media only screen and (max-width: 400px) {
  .container{
    padding: 38px 10px;
  }
}